<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
</head>

<body>
    {{if .}}
    <ul>

        {{range .}}
        <li>{{.Name}}</li>
        {{end}}
    </ul>
    {{else}}
    <h2>No artists found</h2>
    {{end}}

    <form action="/search" method="GET">
        <input type="text" name="q" placeholder="search artist...">
        <button type="submit">Search</button>

    </form>

</body>

</html>