<!DOCTYPE html>
<html>

<head>
    <title>Groupie Tracker</title>
</head>

<body>
    <h1>Artists</h1>
    <div class="artists">
        {{range .}}
        <div class="card">With:{{.Name}}
            <img src="{{.Image}}" alt="{{.Name}}">
            <a href="/artist?id={{.ID}}">
                <h2>{{.Name}}</h2>
            </a>
        </div>
        {{end}}
    </div>
    <form action="/search" method="GET">
        <input type="text" name="q" placeholder="Search artists...">
        <button type="submit">Search</button>
    </form>
</body>

</html>